name: Build

on:
  push:
  pull_request:

jobs:
  check:
    name: Build & Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [stable, beta, nightly]
      fail-fast: false

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Install Rust (${{ matrix.toolchain }})
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
          components: rustfmt, clippy, rust-src

      - name: Cargo check
        run: cargo check --workspace --all-targets

      - name: Run tests
        run: cargo test --workspace --all-features --all-targets --no-fail-fast

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Clippy lint
        run: cargo clippy -- -D warnings
